body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Pixelated', sans-serif; /* Use a pixelated font */
}

#desktop {
    background-color: #008080; /* Teal blue background */
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    padding: 10px;
}
#start-menu {
    position: absolute;
    bottom: 30px;
    left: 10px;
    background-color: #c0c0c0;
    padding: 5px;
    border: 2px outset #ffffff;
}
.desktop-icon {
    font-size: 12px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease, color 0.3s ease;
}

.desktop-icon:hover {
    transform: scale(1.1); /* Makes the icon slightly larger */
    color: #555; /* Changes the text color */
}

.desktop-icon img:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); /* Adds a shadow effect to the icon image */
}

.desktop-icon img {
    width: 50px; /* size of icons */
    height: 50px;
    filter: contrast(80%);
}

.desktop-icon span {
    display: block;
    margin-top: 5px;
}

#taskbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #c0c0c0;
    height: 30px;
    border-top: 2px outset #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#clock {
    padding: 5px 10px;
    font-size: 12px;
}

#start-button {
    background-color: #c0c0c0;
    padding: 5px 10px;
    border: 1px outset #ffffff;
    cursor: pointer;
}